body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:321px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:610px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u772 {
  position:absolute;
  left:0px;
  top:60px;
  width:320px;
  height:610px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u773 {
  position:absolute;
  left:2px;
  top:297px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:529px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u774 {
  position:absolute;
  left:0px;
  top:60px;
  width:320px;
  height:529px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u775 {
  position:absolute;
  left:2px;
  top:256px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u776 {
  position:absolute;
  left:20px;
  top:190px;
  width:27px;
  height:19px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u777 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u778 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:60px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u779 {
  position:absolute;
  left:2px;
  top:22px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u780 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:17px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u781 {
  position:absolute;
  left:0px;
  top:2px;
  width:321px;
  height:17px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u782 {
  position:absolute;
  left:2px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
#u783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u783 {
  position:absolute;
  left:34px;
  top:2px;
  width:18px;
  height:17px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u784 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u785 {
  position:absolute;
  left:264px;
  top:2px;
  width:26px;
  height:18px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u786 {
  position:absolute;
  left:0px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u787 {
  position:absolute;
  left:246px;
  top:2px;
  width:18px;
  height:17px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u788 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:7px;
}
#u789 {
  position:absolute;
  left:290px;
  top:6px;
  width:21px;
  height:7px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u790 {
  position:absolute;
  left:2px;
  top:-4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:6px;
}
#u791 {
  position:absolute;
  left:4px;
  top:6px;
  width:30px;
  height:6px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u792 {
  position:absolute;
  left:2px;
  top:-5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u793 {
  position:absolute;
  left:60px;
  top:26px;
  width:200px;
  height:25px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u794 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u795 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u796 {
  position:absolute;
  left:282px;
  top:36px;
  width:5px;
  height:5px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u797 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u798 {
  position:absolute;
  left:292px;
  top:36px;
  width:5px;
  height:5px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u799 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u800 {
  position:absolute;
  left:300px;
  top:36px;
  width:5px;
  height:5px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u801 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:17px;
}
#u802 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:17px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u803 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u804 {
  position:absolute;
  left:10px;
  top:30px;
  width:17px;
  height:17px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u805 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:45px;
  background:inherit;
  background-color:rgba(80, 190, 138, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u806 {
  position:absolute;
  left:36px;
  top:603px;
  width:247px;
  height:45px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u807 {
  position:absolute;
  left:2px;
  top:10px;
  width:243px;
  word-wrap:break-word;
}
#u808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u808 {
  position:absolute;
  left:20px;
  top:145px;
  width:34px;
  height:19px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u809 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u810 {
  position:absolute;
  left:20px;
  top:380px;
  width:27px;
  height:19px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u811 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u812 {
  position:absolute;
  left:20px;
  top:237px;
  width:53px;
  height:19px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u813 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u814 {
  position:absolute;
  left:20px;
  top:286px;
  width:53px;
  height:19px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u815 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:8px;
}
#u816 {
  position:absolute;
  left:278px;
  top:243px;
  width:12px;
  height:8px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u817 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:8px;
}
#u818 {
  position:absolute;
  left:278px;
  top:196px;
  width:12px;
  height:8px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u819 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:8px;
}
#u820 {
  position:absolute;
  left:278px;
  top:290px;
  width:12px;
  height:8px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u821 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u822 {
  position:absolute;
  left:18px;
  top:65px;
  width:60px;
  height:60px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#50BE8A;
}
#u823 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u824 {
  position:absolute;
  left:20px;
  top:67px;
  width:56px;
  height:56px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u825 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u826 {
  position:absolute;
  left:20px;
  top:331px;
  width:27px;
  height:19px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u827 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u828 {
  position:absolute;
  left:0px;
  top:128px;
  width:320px;
  height:1px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u829 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u830 {
  position:absolute;
  left:0px;
  top:176px;
  width:320px;
  height:1px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u831 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u832 {
  position:absolute;
  left:0px;
  top:223px;
  width:320px;
  height:1px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u833 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u834 {
  position:absolute;
  left:0px;
  top:269px;
  width:320px;
  height:1px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u835 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u836 {
  position:absolute;
  left:0px;
  top:317px;
  width:320px;
  height:1px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u837 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u838 {
  position:absolute;
  left:0px;
  top:363px;
  width:320px;
  height:1px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u839 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u840 {
  position:absolute;
  left:0px;
  top:411px;
  width:320px;
  height:1px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u841 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u842 {
  position:absolute;
  left:0px;
  top:588px;
  width:320px;
  height:1px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u843 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u844 {
  position:absolute;
  left:218px;
  top:85px;
  width:60px;
  height:19px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:right;
}
#u845 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u846 {
  position:absolute;
  left:106px;
  top:190px;
  width:14px;
  height:19px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u847 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u848 {
  position:absolute;
  left:106px;
  top:286px;
  width:70px;
  height:19px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u849 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u850 {
  position:absolute;
  left:278px;
  top:87px;
  width:17px;
  height:17px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u851 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u852 {
  position:absolute;
  left:20px;
  top:426px;
  width:61px;
  height:21px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u853 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u854 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:8px;
}
#u855 {
  position:absolute;
  left:277px;
  top:432px;
  width:12px;
  height:8px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u856 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u857 {
  position:absolute;
  left:106px;
  top:426px;
  width:61px;
  height:21px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u858 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u859 {
  position:absolute;
  left:0px;
  top:462px;
  width:320px;
  height:1px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u860 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u861 {
  position:absolute;
  left:20px;
  top:477px;
  width:161px;
  height:19px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u862 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u863 {
  position:absolute;
  left:106px;
  top:509px;
  width:61px;
  height:21px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u864 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u865 {
  position:absolute;
  left:20px;
  top:509px;
  width:161px;
  height:21px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u866 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u867 {
  position:absolute;
  left:20px;
  top:552px;
  width:161px;
  height:21px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u868 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u869 {
  position:absolute;
  left:20px;
  top:538px;
  width:300px;
  height:1px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u870 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:222px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u873 {
  position:absolute;
  left:0px;
  top:448px;
  width:321px;
  height:222px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u874 {
  position:absolute;
  left:2px;
  top:103px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:38px;
  background:inherit;
  background-color:rgba(241, 241, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u875 {
  position:absolute;
  left:0px;
  top:448px;
  width:321px;
  height:38px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u876 {
  position:absolute;
  left:2px;
  top:11px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0ABB08;
}
#u877 {
  position:absolute;
  left:271px;
  top:456px;
  width:39px;
  height:24px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0ABB08;
}
#u878 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u879 {
  position:absolute;
  left:0px;
  top:559px;
  width:320px;
  height:1px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u880 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u881 {
  position:absolute;
  left:0px;
  top:597px;
  width:320px;
  height:1px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u882 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u883 {
  position:absolute;
  left:123px;
  top:604px;
  width:75px;
  height:21px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u884 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u885 {
  position:absolute;
  left:123px;
  top:568px;
  width:75px;
  height:21px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u886 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u887 {
  position:absolute;
  left:19px;
  top:456px;
  width:39px;
  height:24px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u888 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u889 {
  position:absolute;
  left:278px;
  top:511px;
  width:17px;
  height:17px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u890 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u891 {
  position:absolute;
  left:33px;
  top:29px;
  width:17px;
  height:17px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u892 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893 {
  position:absolute;
  left:0px;
  top:60px;
  width:320px;
  height:69px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:144px;
}
#u895 {
  position:absolute;
  left:0px;
  top:526px;
  width:320px;
  height:144px;
}
#u896 {
  position:absolute;
  left:2px;
  top:64px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:466px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u897 {
  position:absolute;
  left:0px;
  top:60px;
  width:320px;
  height:466px;
}
#u898 {
  position:absolute;
  left:2px;
  top:225px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899 {
  position:absolute;
  left:0px;
  top:526px;
  width:320px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u900 {
  position:absolute;
  left:0px;
  top:573px;
  width:320px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u901 {
  position:absolute;
  left:0px;
  top:624px;
  width:320px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:185px;
}
#u902 {
  position:absolute;
  left:0px;
  top:485px;
  width:320px;
  height:185px;
}
#u903 {
  position:absolute;
  left:2px;
  top:84px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904 {
  position:absolute;
  left:81px;
  top:177px;
  width:239px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u905 {
  position:absolute;
  left:106px;
  top:135px;
  width:205px;
  height:32px;
}
#u905_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:32px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u906 {
  position:absolute;
  left:106px;
  top:233px;
  width:162px;
  height:32px;
}
#u906_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:32px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:222px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u908 {
  position:absolute;
  left:0px;
  top:448px;
  width:321px;
  height:222px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u909 {
  position:absolute;
  left:2px;
  top:103px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:38px;
  background:inherit;
  background-color:rgba(241, 241, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u910 {
  position:absolute;
  left:0px;
  top:448px;
  width:321px;
  height:38px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u911 {
  position:absolute;
  left:2px;
  top:11px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0ABB08;
}
#u912 {
  position:absolute;
  left:271px;
  top:456px;
  width:39px;
  height:24px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0ABB08;
}
#u913 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u914 {
  position:absolute;
  left:0px;
  top:559px;
  width:320px;
  height:1px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u915 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u916 {
  position:absolute;
  left:0px;
  top:597px;
  width:320px;
  height:1px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u917 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u918 {
  position:absolute;
  left:20px;
  top:499px;
  width:75px;
  height:19px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u919 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u920 {
  position:absolute;
  left:19px;
  top:456px;
  width:39px;
  height:24px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u921 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u922 {
  position:absolute;
  left:20px;
  top:534px;
  width:75px;
  height:19px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u924 {
  position:absolute;
  left:20px;
  top:569px;
  width:75px;
  height:21px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u926 {
  position:absolute;
  left:20px;
  top:603px;
  width:75px;
  height:19px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u927 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u928 {
  position:absolute;
  left:20px;
  top:638px;
  width:75px;
  height:19px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u930 {
  position:absolute;
  left:123px;
  top:569px;
  width:75px;
  height:21px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u932 {
  position:absolute;
  left:225px;
  top:499px;
  width:75px;
  height:19px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u934 {
  position:absolute;
  left:225px;
  top:538px;
  width:75px;
  height:19px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u935 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u936 {
  position:absolute;
  left:225px;
  top:573px;
  width:75px;
  height:21px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u937 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u938 {
  position:absolute;
  left:225px;
  top:610px;
  width:75px;
  height:19px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u940 {
  position:absolute;
  left:225px;
  top:645px;
  width:75px;
  height:19px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u942 {
  position:absolute;
  left:103px;
  top:325px;
  width:205px;
  height:32px;
}
#u942_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:32px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u943 {
  position:absolute;
  left:103px;
  top:372px;
  width:205px;
  height:32px;
}
#u943_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:32px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u944 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:222px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u945 {
  position:absolute;
  left:0px;
  top:448px;
  width:321px;
  height:222px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u946 {
  position:absolute;
  left:2px;
  top:103px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:38px;
  background:inherit;
  background-color:rgba(241, 241, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u947 {
  position:absolute;
  left:0px;
  top:448px;
  width:321px;
  height:38px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u948 {
  position:absolute;
  left:2px;
  top:11px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0ABB08;
}
#u949 {
  position:absolute;
  left:271px;
  top:456px;
  width:39px;
  height:24px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0ABB08;
}
#u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u951 {
  position:absolute;
  left:0px;
  top:559px;
  width:320px;
  height:1px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u952 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u953 {
  position:absolute;
  left:0px;
  top:597px;
  width:320px;
  height:1px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u954 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u955 {
  position:absolute;
  left:123px;
  top:499px;
  width:75px;
  height:19px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u957 {
  position:absolute;
  left:19px;
  top:456px;
  width:39px;
  height:24px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u959 {
  position:absolute;
  left:123px;
  top:534px;
  width:75px;
  height:19px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u961 {
  position:absolute;
  left:123px;
  top:569px;
  width:75px;
  height:21px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u963 {
  position:absolute;
  left:123px;
  top:603px;
  width:75px;
  height:19px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u965 {
  position:absolute;
  left:123px;
  top:638px;
  width:75px;
  height:19px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u966 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u967 {
  position:absolute;
  left:103px;
  top:546px;
  width:205px;
  height:32px;
}
#u967_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:32px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u968 {
  position:absolute;
  left:76px;
  top:493px;
  width:244px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u969 {
  position:absolute;
  left:81px;
  top:271px;
  width:239px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u970 {
  position:absolute;
  left:81px;
  top:414px;
  width:239px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
