body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:321px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:504px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u653 {
  position:absolute;
  left:0px;
  top:60px;
  width:320px;
  height:504px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u654 {
  position:absolute;
  left:2px;
  top:244px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u655 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:60px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u656 {
  position:absolute;
  left:2px;
  top:22px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:17px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u658 {
  position:absolute;
  left:0px;
  top:2px;
  width:321px;
  height:17px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u659 {
  position:absolute;
  left:2px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
#u660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u660 {
  position:absolute;
  left:34px;
  top:2px;
  width:18px;
  height:17px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u661 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u662 {
  position:absolute;
  left:264px;
  top:2px;
  width:26px;
  height:18px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u663 {
  position:absolute;
  left:0px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u664 {
  position:absolute;
  left:246px;
  top:2px;
  width:18px;
  height:17px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u665 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:7px;
}
#u666 {
  position:absolute;
  left:290px;
  top:6px;
  width:21px;
  height:7px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u667 {
  position:absolute;
  left:2px;
  top:-4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:6px;
}
#u668 {
  position:absolute;
  left:4px;
  top:6px;
  width:30px;
  height:6px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u669 {
  position:absolute;
  left:2px;
  top:-5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u670 {
  position:absolute;
  left:60px;
  top:26px;
  width:200px;
  height:25px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u671 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u672 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u673 {
  position:absolute;
  left:282px;
  top:36px;
  width:5px;
  height:5px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u674 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u675 {
  position:absolute;
  left:292px;
  top:36px;
  width:5px;
  height:5px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u676 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u677 {
  position:absolute;
  left:300px;
  top:36px;
  width:5px;
  height:5px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u678 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:17px;
}
#u679 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:17px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u680 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u681 {
  position:absolute;
  left:10px;
  top:30px;
  width:17px;
  height:17px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u682 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u683 {
  position:absolute;
  left:20px;
  top:166px;
  width:290px;
  height:19px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u684 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u685 {
  position:absolute;
  left:14px;
  top:375px;
  width:291px;
  height:50px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u686 {
  position:absolute;
  left:2px;
  top:16px;
  width:287px;
  word-wrap:break-word;
}
#u687 {
  position:absolute;
  left:36px;
  top:457px;
}
#u687_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u687_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:45px;
  background:inherit;
  background-color:rgba(80, 190, 138, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u688 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:45px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u689 {
  position:absolute;
  left:2px;
  top:10px;
  width:243px;
  word-wrap:break-word;
}
#u687_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u687_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:45px;
  background:inherit;
  background-color:rgba(80, 190, 138, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:45px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u691 {
  position:absolute;
  left:2px;
  top:10px;
  width:243px;
  word-wrap:break-word;
}
#u692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u692 {
  position:absolute;
  left:15px;
  top:81px;
  width:290px;
  height:19px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u693 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#50BE8A;
  text-align:center;
}
#u694 {
  position:absolute;
  left:14px;
  top:520px;
  width:290px;
  height:19px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#50BE8A;
  text-align:center;
}
#u695 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u696 {
  position:absolute;
  left:35px;
  top:30px;
  width:17px;
  height:17px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
}
#u697 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698 {
  position:absolute;
  left:14px;
  top:195px;
}
#u698_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u698_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(80, 190, 138, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#50BE8A;
  text-align:left;
}
#u699 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:50px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#50BE8A;
  text-align:left;
}
#u700 {
  position:absolute;
  left:2px;
  top:16px;
  width:287px;
  word-wrap:break-word;
}
#u701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u701 {
  position:absolute;
  left:0px;
  top:60px;
  width:291px;
  height:50px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u702 {
  position:absolute;
  left:2px;
  top:16px;
  width:287px;
  word-wrap:break-word;
}
#u703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u703 {
  position:absolute;
  left:0px;
  top:120px;
  width:291px;
  height:50px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u704 {
  position:absolute;
  left:2px;
  top:16px;
  width:287px;
  word-wrap:break-word;
}
#u698_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u698_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u705 {
  position:absolute;
  left:0px;
  top:120px;
  width:291px;
  height:50px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u706 {
  position:absolute;
  left:2px;
  top:16px;
  width:287px;
  word-wrap:break-word;
}
#u707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u707 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:50px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u708 {
  position:absolute;
  left:2px;
  top:16px;
  width:287px;
  word-wrap:break-word;
}
#u709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(80, 190, 138, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#50BE8A;
  text-align:left;
}
#u709 {
  position:absolute;
  left:0px;
  top:60px;
  width:291px;
  height:50px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#50BE8A;
  text-align:left;
}
#u710 {
  position:absolute;
  left:2px;
  top:16px;
  width:287px;
  word-wrap:break-word;
}
#u698_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u698_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(80, 190, 138, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#50BE8A;
  text-align:left;
}
#u711 {
  position:absolute;
  left:0px;
  top:120px;
  width:291px;
  height:50px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  color:#50BE8A;
  text-align:left;
}
#u712 {
  position:absolute;
  left:2px;
  top:16px;
  width:287px;
  word-wrap:break-word;
}
#u713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u713 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:50px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u714 {
  position:absolute;
  left:2px;
  top:16px;
  width:287px;
  word-wrap:break-word;
}
#u715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u715 {
  position:absolute;
  left:0px;
  top:60px;
  width:291px;
  height:50px;
  font-family:'Tsentsiu HG Regular', 'Tsentsiu HG';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u716 {
  position:absolute;
  left:2px;
  top:16px;
  width:287px;
  word-wrap:break-word;
}
