body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1070px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体-简 中等', '黑体-简';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u509 {
  position:absolute;
  left:20px;
  top:72px;
  width:610px;
  height:72px;
  font-family:'黑体-简 中等', '黑体-简';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u510 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  word-wrap:break-word;
}
#u511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体-简 中等', '黑体-简';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u511 {
  position:absolute;
  left:20px;
  top:177px;
  width:610px;
  height:48px;
  font-family:'黑体-简 中等', '黑体-简';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u512 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  word-wrap:break-word;
}
#u513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体-简 中等', '黑体-简';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u513 {
  position:absolute;
  left:20px;
  top:267px;
  width:610px;
  height:72px;
  font-family:'黑体-简 中等', '黑体-简';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u514 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  word-wrap:break-word;
}
#u515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体-简 中等', '黑体-简';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u515 {
  position:absolute;
  left:20px;
  top:367px;
  width:610px;
  height:48px;
  font-family:'黑体-简 中等', '黑体-简';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u516 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  word-wrap:break-word;
}
#u517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体-简 中等', '黑体-简';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u517 {
  position:absolute;
  left:20px;
  top:442px;
  width:800px;
  height:63px;
  font-family:'黑体-简 中等', '黑体-简';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u518 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u519 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u520_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:452px;
  height:9px;
}
#u520 {
  position:absolute;
  left:0px;
  top:557px;
  width:447px;
  height:4px;
}
#u521 {
  position:absolute;
  left:2px;
  top:-6px;
  width:443px;
  visibility:hidden;
  word-wrap:break-word;
}
#u522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6CA6FB;
}
#u522 {
  position:absolute;
  left:476px;
  top:549px;
  width:113px;
  height:20px;
  color:#6CA6FB;
}
#u523 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u524_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:452px;
  height:9px;
}
#u524 {
  position:absolute;
  left:620px;
  top:557px;
  width:447px;
  height:4px;
}
#u525 {
  position:absolute;
  left:2px;
  top:-6px;
  width:443px;
  visibility:hidden;
  word-wrap:break-word;
}
#u526 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:49px;
  background:inherit;
  background-color:rgba(108, 166, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u527 {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:49px;
}
#u528 {
  position:absolute;
  left:2px;
  top:16px;
  width:1066px;
  visibility:hidden;
  word-wrap:break-word;
}
#u529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体-简 Bold', '黑体-简';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:center;
}
#u529 {
  position:absolute;
  left:763px;
  top:7px;
  width:144px;
  height:41px;
  font-family:'黑体-简 Bold', '黑体-简';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:center;
}
#u530 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:21px;
}
#u531 {
  position:absolute;
  left:905px;
  top:16px;
  width:156px;
  height:21px;
  font-family:'黑体-简 Bold', '黑体-简';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.498039215686275);
  text-align:center;
}
#u532 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u533 {
  position:absolute;
  left:4px;
  top:4px;
  width:154px;
  height:41px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u534 {
  position:absolute;
  left:0px;
  top:5px;
  width:154px;
  word-wrap:break-word;
}
